@import "tailwindcss";

@theme {
    --animate-marquee: marquee 25s linear infinite;
    --animate-marquee-alt: marquee-alt 25s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee-alt {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}